h1, h2{
    margin: 50px;
    font-family:  sans-serif;
     font-weight: 900;
    text-align: center;
    color: #004E64;
}
@media only screen and (max-width: 600px) {
  h1, h2 {
      font-size: 1.5em;
      margin: 20px;
  }
  p {
      font-size: 1em;
      margin: 20px;
  }
  form {
      font-size: 1em;
      margin: 20px;
  }
  input[type="radio"] + label:before {
      font-size: 18px;
      margin-right: 5px;
  }
  .fa-star {
      font-size: 18px;
  }
}
p {
    margin: 50px;
    font-family:  sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
form {
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
input[type="radio"] {
    display: none;
    text-align: center;
  }
  
  input[type="radio"] + label:before {
    content: "\f10c";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
  .fa-star {
    font-size: 24px;
    cursor: pointer;
    text-align: center;
  }
  
  .checked {
    color: rgba(255, 213, 0, 0.479);
    text-align: center;
  }
  body {
      width: 100%;
      height: auto;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    margin: -1px;
    max-width: 100%;
    height: auto;
    width: 100px;
    height: 100px;
  }
  button {
    margin: 50px
  }
  
