body {
    margin: 0 10%;
    font-family: Georgia, sans-serif;
    background-color: #8dc6e0;
    
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .header h1 {
    position: relative;
    color: #2448e9;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  margin-top: 40px;
  font-size: 3em;
  text-shadow: .05em .05em .1em rgb(42, 45, 48);
    top: 11px;
    left: 4px;
  }

h2 {
    text-align: center;
    color: #2448e9;
    font-size: 1em;
}

p {
    text-align: center;
    color: black;
    margin-left: 8cm;
    margin-right: 8cm;
}

nav {
    text-align: center;
}

.responsive {
    width:100%;
    height:auto;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 0.8em;
    }

    p {
        margin-left: 0;
        margin-right: 0;
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 500px) {
    .topnav a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .topnav .icon {
      display: block;
      float: right;
    }
    
    .topnav.responsive #myLinks {
      display: block;
    }
    
  .button {
     border: none;
     color: white;
     padding: 16px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
}

  .button1 {
     background-color: white; 
     color: black; 
     border: 2px solid #4CAF50;
}

  .button1:hover {
     background-color: #4CAF50;
     color: white;
}

