.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  margin-top: 30px;
  margin-bottom: 60px;
}